- var pageTitle = 'Keamanan dan privasi'

include presentation-header

include menu

article#presentation
	section		
		h2 Keamanan dan Privasi
		hr
		ul
			li Aplikasi Android berjalan di sandbox, sebuah area terisolasi yang tidak memiliki akses pada sistem, 
			li kecuali izin akses yang secara eksplisit diberikan oleh pengguna ketika memasang aplikasi. 
			li Sebelum memasang aplikasi, Play Store akan menampilkan semua izin yang diperlukan,

include presentation-footer
include main-footer
