- var pageTitle = 'Keamanan dan privasi'

include presentation-header

include menu

article#presentation
	section		
		h2 Keamanan dan Privasi
		img(src="images/Keamanan.png")
		hr
		ul
			li Aplikasi Android berjalan di sandbox, sebuah area terisolasi yang tidak memiliki akses pada sistem, 
			li kecuali izin akses yang secara eksplisit diberikan oleh pengguna ketika memasang aplikasi. 
			li Sebelum memasang aplikasi, Play Store akan menampilkan semua izin yang diperlukan, misalnya: sebuah permainan perlu mengaktifkan getaran atau menyimpan data pada Kartu SD, tapi tidak perlu izin untuk membaca SMS atau mengakses buku telepon. 
			li Setelah meninjau izin tersebut, pengguna dapat memilih untuk menerima atau menolaknya, dan bisa memasang aplikasi hanya jika mereka menerimanya.
	section
		h2 Keamanan dan Privasi
		hr
		ul
			li Sistem sandbox dan perizinan pada Android bisa mengurangi dampak kerentanan terhadap bug pada aplikasi, namun ketidaktahuan pengembang dan terbatasnya dokumentasi telah menghasilkan aplikasi yang secara rutin meminta izin yang tidak perlu, sehingga mengurangi efektivitasnya.
			li Beberapa perusahaan keamanan perangkat lunak seperti Avast, Lookout Mobile Security, AVG Technologies, dan McAfee, telah merilis perangkat lunak antivirus ciptaan mereka untuk perangkat Android.
			li Perangkat lunak ini sebenarnya tidak bekerja secara efektif karena sandbox juga bekerja pada aplikasi tersebut, sehingga membatasi kemampuannya untuk memindai sistem secara lebih mendalam.

include presentation-footer
include main-footer
