- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section
		h1 Kelemahan Android

	section
		h2.bullet Android masih terkesan rumit
		hr
		ul
			li Saat membeli ponsel/tablet Android, kalian diharuskan mempelajari lebih banyak hal dibandingkan dengan iPhone, karena Android mempunyai widgets, apps, dan banyak pengaturan lain yang mungkin kalian belum pernah mengenalnya sama sekali
			li Contohnya seperti Samsung Galaxy S3, yang mempunyai banyak fitur keren. Salah satunya adalah berbagi foto otomatis via wi-fi, yang sayangnya ternyata membutuhkan pengaturan yang banyak.

	section
		h2.bullet Konten hiburan di Google Play masih kalah banyak dibandingkan dengan iTunes
		hr
		ul
			li Walaupun Google sudah mengisi Google Play dengan beberapa konten entertainment seperti TV Shows dan movies untuk disewa, pilihan kontent entertainment tersebut masih kurang banyak dibandingkan dengan yang ada di iTunes.
			li Soal musik juga Google Play masih belum memiliki musik-musik produksi Warner, salah satu dari empat label musik ternama.
	
	section
		h2.bullet Kurangnya aksesoris yang keren untuk perangkat Android
		hr
		ul
			li Desain iPhone yang menarik, nampaknya didukung oleh para pembuat aksesoris dengan membuat aksesoris pelengkap yang keren dan bagus-bagus. 
			li Namun entah kenapa Android tidak membawa antusiasme bagi pembuat aksesoris untuk membuat aksesoris yang menarik untuk perangkat-perangkat Android.

	section
		h2.bullet Grafis dan animasi di iPhone masih lebih halus
		hr
		ul
			li Hardware acceleration adalah proses dimana smartphone bisa berganti antara GPU (grafis) dan CPU tanpa menggunakan memori smartphone dalam jumlah besar. 
			li Hal ini sudah ada pada perangkat Android sejak versi awal, namun terbatas hanya pada beberapa fitur, seperti menarik notification bar ke bawah.
			li Perangkat Android tidak menggunakan hardware acceleration secara penuh sampai Android versi 3.0.
			li Sedangkan iPhone sudah menggunakan hardware acceleration sejak awal, sehingga iPhone menciptakan user experienceyang lebih menyenangkan.Untuk catatan, versi terbaru Android, Jelly Bean sudah memperbaiki kekurangan ini dengan sangat baik. 
			li Sehingga user experience menjadi lebih smooth dan tidak lagi nge-lag atau hang. Namun sayangnya baru sedikit perangkat Android dengan Jelly Bean di pasaran

	section
		h2.bullet Ancaman dari malware/virus pada sistem operasi Android
		hr
		ul
			li Karena Android adalah open source dan pengguna dapat menginstall aplikasi yang bukan berasal dari Google Play, perangkat Android lebih rentan terkena malware dan aplikasi bajakan/palsu.

	section
		h2.bullet Aplikasi yang berkualitas masih sedikit
		hr
		ul
			li Sudah dari dulu aplikasi-aplikasi pada iPhone terlihat lebih bagus dibandingkan versi Android-nya. Begitupun developer cenderung merilis aplikasi berkualitas ke iPhone terlebih dahulu, baru setelah itu di-porting ke Android.

	section
		h2. bullet Fragmentasi
		hr
		ul
			li Perangkat Android beraneka ragam, mulai dari Galaxy SIII yang canggih hingga ponsel murah-meriah made in China. Hal ini dinamakan fragmentasi.
			li Fragmentasi membuat kualitas smartphone menjadi berbeda-beda, developer pun terpaksa harus membuat aplikasinya bisa beradaptasi terhadap banyaknya bentuk dan ukuran layar pada perangkat Android yang ada.
	
	section
		h2. bullet Updates Android tidak langsung tersedia untuk setiap perangkat	
		hr
		ul
			liGoogle merilis Android versi terbarunya, Jelly Bean pada bulan Juli lalu. Namun kebanyakan ponsel Android sekarang masih menggunakan OS versi Gingerbread, yang keluar sekitar satu setengah tahun yang lalu. 
			li Hal ini disebabkan produsen smartphone lebih cenderung untuk memodifikasi Android OS untuk perangkat mereka, sehingga beberapa produsen memerlukan waktu tambahan untuk menawarkan update. 
			li Cara paling aman untuk menjamin kalian selalu mendapatkan update, adalah menggunakan perangkat yang asli dari Google, seperti merk Nexus.
	

include presentation-footer
include main-footer
