- var pageTitle = 'Presentasi dengan Bespoke.JS'

include presentation-header

include menu

article#presentation

	section
		h1 Kelemahan Android

	section
		h2.bullet Android masih terkesan rumit
		hr
		ul
			li Saat membeli ponsel/tablet Android, kalian diharuskan mempelajari lebih banyak hal dibandingkan dengan iPhone, karena Android mempunyai widgets, apps, dan banyak pengaturan lain yang mungkin kalian belum pernah mengenalnya sama sekali
			li Contohnya seperti Samsung Galaxy S3, yang mempunyai banyak fitur keren. Salah satunya adalah berbagi foto otomatis via wi-fi, yang sayangnya ternyata membutuhkan pengaturan yang banyak.

	section
		h2.bullet Konten hiburan di Google Play masih kalah banyak dibandingkan dengan iTunes
		hr
		ul
			li Walaupun Google sudah mengisi Google Play dengan beberapa konten entertainment seperti TV Shows dan movies untuk disewa, pilihan kontent entertainment tersebut masih kurang banyak dibandingkan dengan yang ada di iTunes.
			li Soal musik juga Google Play masih belum memiliki musik-musik produksi Warner, salah satu dari empat label musik ternama.

	

include presentation-footer
include main-footer
