- var pageTitle = 'Kelebihan Android'

include presentation-header

include menu

article#presentation

	section
		h1 Kelebihan Android 

	section
		h2 Kelebihan Android antara lain :
		hr
		ol
			li Android bersifat open source, karena bebasis Linux. Sehingga banyak developer yang ingin mengembangkan Android.
			li Merupakan realisasi Cloud Computing, karena semua fitur Google sudah terintegrasi dengan mobile yang terpasang Android. Contact pada telepon seluler pun akan tersimpan secara otomatis pada account google.


include presentation-footer
include main-footer
