- var pageTitle = 'Kelebihan Android'

include presentation-header

include menu

article#presentation

	section
		h1 Kelebihan Android 

	section
		h2 Kelebihan Android antara lain :
		hr
		ul
			li Android bersifat open source, karena bebasis Linux. Sehingga banyak developer yang ingin mengembangkan Android.
			li Merupakan realisasi Cloud Computing, karena semua fitur Google sudah terintegrasi dengan mobile yang terpasang Android. Contact pada telepon seluler pun akan tersimpan secara otomatis pada account google.
			li Dengan tersedianya Android Market, cara mendapatkan Android ini pun terbilang mudah.
	section
		ul
			li Fleksibel, karena bisa digunakan pada banyak platform hardware.
			li Android memberikan pilihan untuk memilih Hardware yang digunakan.
			li Android dapat menjalankan beberapa Aplikasi pada waktu bersamaan atau disebut juga multitasking.
			li Home Screen Informatif, konsep home screen pada Android seperti windows Mobile di mana segala notifikasi dapat dipantau dari home screen. Namun Android juga menyediakan tempat bagi widget-widget notifikasi lain untuk berada di home screen. Cara ini mempermudah akses info cepat ketimbang home screen di BlackBerry ataupun iPhone.

	section
		ul
			li Bebas memodifikasi sistem, Android mengijinkan kamu untuk melakukan jailbreaking untuk memodifikasi sistem. Selain itu kamu juga bisa melakukan modifikasi pada ROM sistem. Ada beberapa komunikasi di internet yang menjadi wadah dan menyediakan customed ROM untuk perangkat Android.
			li Setting yang mudah, sistem Android memang diluncurkan demi alasan kemudahan. Pengesetan ponsel berbasia OS ini untuk keperluan sehari-hari sesuai keinginan dan aktifitaspribadi bisa dilakukan dengan mudah.
			li Harga relatif murah.
			li Stabil dan tidak mudah eror atau hang.




include presentation-footer
include main-footer

