- var pageTitle = 'Lisensi Android'

include presentation-header

include menu

article#presentation

	section		
		h2 Lisensi Android
		hr
		ul
			li Kode sumber untuk Android tersedia di bawah lisensi perangkat lunak sumber terbuka dan bebas.
			li Pada Google menerbitkan sebagian besar kode (termasuk kode jaringan dan telepon) di bawah Lisensi Apache versi 2.0. 
			li Sisanya, perubahan kernel Linux berada di bawah GNU General Public License versi 2. 
			li Open Handset Alliance mengembangkan perubahan kernel Linux dengan kode sumber terbuka yang dipubikasikan setiap saat.

	
	section		
		h2 Lisensi Android
		hr
		ul
			li Selebihnya, Android dikembangkan secara pribadi oleh Google, dengan kode sumber yang diterbitkan untuk umum ketika versi baru diluncurkan. 
			li Biasanya Google bekerjasama dengan produsen perangkat keras untuk mengembangkan sebuah perangkat "andalan" (misalnya seri Google Nexus) yang disertai dengan versi baru Android, 
			li kemudian menerbitkan kode sumbernya setelah perangkat tersebut dirilis.


	section		
		h2 Lisensi Android
		hr
		ul
			li Pada awal 2011, Google memilih untuk menahan sementara kode sumber Android untuk tablet yang dirilis dengan versi 3.0 Honeycomb. 
			li Menurut Andy Rubin dalam sebuah posting blog resmi Android, alasannya karena Honeycomb dirilis untuk berjalan pada produk Motorola Xoom, dan Google tidak ingin pihak ketiga "memperburuk pengalaman pengguna" dengan mencoba mengoperasikan versi Android yang ditujukan untuk tablet pada telepon pintar. 
			li Kode sumber tersebut akhirnya dipublikasikan pada bulan November 2011 dengan dirilisnya Android 4.0 Ice Cream Sandwich.
	
	section 
		h2 Lisensi Android
		hr
		ul
			li Meskipun bersifat terbuka, produsen perangkat tidak bisa menggunakan merek dagang Android Google seenaknya, kecuali Google menyatakan bahwa perangkat tersebut sesuai dengan Compatibility Definition Document (CDD) mereka. 
			li Perangkat juga harus memenuhi lisensi persyaratan aplikasi sumber tertutup Google, termasuk Google Play. Richard Stallman dan Free Software Foundation telah mengkritik mengenai rumitnya permasalahan merek Android ini, 
			li dan merekomendasikan sistem operasi alternatif seperti Replicant. Mereka berpendapat bahwa pemacu peranti dan perangkat tegar yang diperlukan untuk mengoperasikan Android bersifat eksklusif, dan Google Play juga menawarkan perangkat lunak berbayar.
include presentation-footer
include main-footer
