- var pageTitle = 'Lisensi Android'

include presentation-header

include menu

article#presentation

	section		
		h2 Lisensi Android
		hr
		ul
			li Kode sumber untuk Android tersedia di bawah lisensi perangkat lunak sumber terbuka dan bebas.
			li Pada Google menerbitkan sebagian besar kode (termasuk kode jaringan dan telepon) di bawah Lisensi Apache versi 2.0. 
			li Sisanya, perubahan kernel Linux berada di bawah GNU General Public License versi 2. 
			li Open Handset Alliance mengembangkan perubahan kernel Linux dengan kode sumber terbuka yang dipubikasikan setiap saat.

	
	section		
		h2 Lisensi Android
		hr
		ul
			li Selebihnya, Android dikembangkan secara pribadi oleh Google, dengan kode sumber yang diterbitkan untuk umum ketika versi baru diluncurkan. 
			li Biasanya Google bekerjasama dengan produsen perangkat keras untuk mengembangkan sebuah perangkat "andalan" (misalnya seri Google Nexus) yang disertai dengan versi baru Android, 
			li kemudian menerbitkan kode sumbernya setelah perangkat tersebut dirilis.
	
include presentation-footer
include main-footer
