- var pageTitle = 'Masalah Hukum'

include presentation-header

include menu

article#presentation

	section		
		h2 Masalah Hukum
		hr
		ul
			li Baik Android maupun produsen ponsel Android telah terlibat dalam berbagai kasus hukum paten.
			li Pada tanggal 12 Agustus 2010, Oracle menggugat Google atas tuduhan pelanggaran hak cipta dan paten yang berhubungan dengan bahasa pemrograman Java. 
			li Oracle awalnya menuntut ganti rugi sebesar $6,1 miliar, namun tuntutan ini ditolak oleh pengadilan federal Amerika Serikat, yang meminta Oracle untuk merevisi gugatannya. Sebagai tanggapan, Google mengajukan beberapa pembelaan, mengklaim bahwa Android tidak melanggar paten atau hak cipta Oracle, bahwa paten Oracle tidak valid, dan beberapa pembelaan lainnya. 
			li Pihak Oracle menyatakan bahwa Android berbasis pada Apache Harmony, implementasi clean room perpustakaan kelas Java, dan secara independen mengembangkan mesin virtual yang disebut Dalvik.
			li Pada bulan Mei 2012, juri dalam kasus ini menemukan bahwa Google tidak melanggar paten Oracle, dan hakim memutuskan bahwa struktur API Java yang digunakan oleh Google tidak memiliki hak cipta.
	
	section
		ul
			li Selain tuntutan secara langsung terhadap Google, berbagai "perang proksi" juga dilancarkan terhadap Android secara tidak langsung dengan menargetkan produsen perangkat Android, dengan tujuan untuk memperkecil peluang produsen tersebut mengadopsi platform Android dan meningkatkan biaya peluncuran produk Android ke pasaran.
			li Apple dan Microsoft menggugat beberapa produsen perangkat Android terkait masalah pelanggaran paten; tuntutan Apple yang berkepanjangan terhadap Samsung menjadi kasus yang sangat terpublikasi.
			li Pada Oktober 2011, Microsoft mengungkapkan bahwa mereka telah menandatangani perjanjian lisensi paten dengan sepuluh produsen ponsel yang produk-produknya menguasai 55% pasar global perangkat Android, termasuk Samsung dan HTC.

include presentation-footer
include main-footer
