- var pageTitle = 'Masalah Hukum'

include presentation-header

include menu

article#presentation

	section		
		h2 Masalah Hukum
		hr
		ul
			li Baik Android maupun produsen ponsel Android telah terlibat dalam berbagai kasus hukum paten.
			li Pada tanggal 12 Agustus 2010, Oracle menggugat Google atas tuduhan pelanggaran hak cipta dan paten yang berhubungan dengan bahasa pemrograman Java. 
			li Oracle awalnya menuntut ganti rugi sebesar $6,1 miliar, namun tuntutan ini ditolak oleh pengadilan federal Amerika Serikat, yang meminta Oracle untuk merevisi gugatannya. Sebagai tanggapan, Google mengajukan beberapa pembelaan, mengklaim bahwa Android tidak melanggar paten atau hak cipta Oracle, bahwa paten Oracle tidak valid, dan beberapa pembelaan lainnya. 
			
	
include presentation-footer
include main-footer
