- var pageTitle = 'Masalah Hukum'

include presentation-header

include menu

article#presentation

	section		
		h2 Masalah Hukum
		hr
		ul
			li Baik Android maupun produsen ponsel Android telah terlibat dalam berbagai kasus hukum paten.
			li Pada tanggal 12 Agustus 2010, Oracle menggugat Google atas tuduhan pelanggaran hak cipta dan paten yang berhubungan dengan bahasa pemrograman Java. 
			li Oracle awalnya menuntut ganti rugi sebesar $6,1 miliar, namun tuntutan ini ditolak oleh pengadilan federal Amerika Serikat, yang meminta Oracle untuk merevisi gugatannya. Sebagai tanggapan, Google mengajukan beberapa pembelaan, mengklaim bahwa Android tidak melanggar paten atau hak cipta Oracle, bahwa paten Oracle tidak valid, dan beberapa pembelaan lainnya. 
			li Pihak Oracle menyatakan bahwa Android berbasis pada Apache Harmony, implementasi clean room perpustakaan kelas Java, dan secara independen mengembangkan mesin virtual yang disebut Dalvik.
			li Pada bulan Mei 2012, juri dalam kasus ini menemukan bahwa Google tidak melanggar paten Oracle, dan hakim memutuskan bahwa struktur API Java yang digunakan oleh Google tidak memiliki hak cipta.
	
include presentation-footer
include main-footer
