nav(class="navbar navbar-default", role="navigation")
	div(class="container")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="presentation-chooser")
				span(class="sr-only")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand", href="index.html") Sistem Operasi Android

		div(class="collapse navbar-collapse", id="presentation-chooser")
			ul(class="nav navbar-nav")
				li(class="dropdown")
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pilih Presentasi <b class="caret"></b>
					ul(class="dropdown-menu")
						li <a href="Pengertian Android.html">Pengertian Android</a>
						li <a href="SejarahAndroid.html">Sejarah Android</a>
						li <a href="PerkembanganAndroid.html">Perkembangan Android</a>
						li <a href="Fitur Android.html">Fitur-fitur Android</a>
						li <a href="KelebihanAndroid.html">Kelebihan Android</a>
						li <a href="Kekurangan Android.html">Kekurangan Android</a>
						li <a href="PerbandinganAndroid.html">Perbandingan Android</a>
						li <a href="PenggunaanAndroid.html">Penggunaan Android</a>
						li <a href="Keamanan dan Privasi.html"> Keamanan dan Privasi </a>
						li <a href="Masalah Hukum.html"> Masalah Hukum </a>
						li <a href="Lisensi Android.html">Lisensi Android</a>
