- var pageTitle = 'Pengertian Android'

include presentation-header

include menu

article#presentation

	section
		h1 Pengertian Android
		

	section
		h2. Apa itu Android?
		hr
		ul
			li Android adalah sistem operasi untuk telepon seluler yang berbasis Linux.
			li Sejauh ini Android termasuk sistem operasi yang cepat sekali memperbarui software mereka.
			li Biasanya android meng-update pada perbaikan bug serta penambahan fitur baru.
			
	section
		h2. Distributor sistem operasi Android
		hr
		ul
			li Pertama yang mendukung penuh dari Google atau Google Mail Services (GMS)
			li dan kedua adalah yang benar0benar bebas distribusi =nya tanpa dukungan langsung Google atau dikenal Open Handset Distribution (OHD).
			li 

	

include presentation-footer
include main-footer
