- var pageTitle = 'Penggunaan Android'

include presentation-header

include menu

article#presentation

	section
		h1 Penggunaan Android Paling WOW
		img(src="images/androidd.png")

	section
		h2.bullet Penggunaan Tablet Android Terbanyak 
		hr
		ul
			li  American Aielines, maskapai penerbangan Amerika, menggunakan 6000 Samsung Galaxy Tab 10 sebagai layanan hibuaran untuk penumpang pesawat mereka. Layanan itu diberikan bagi penumpang first class dan business. Sebelumnya perusahaan ini juga memberikan ribuan iPad untuk para pilot mereka.

	section
		h2.bullet Penggunaan Android Paling Menarik 
		hr
		ul
			li  University of Southern Mississippi bekerja sama dengan Samsung untuk pemakaian 1000 Galaxy Tab 10 sebagai proyek pencontohan. Tablet tersebut akan digunakan oleh mahasiswa yang mengambil program Honor College. Dengan Gtab 10.1,pihak universitas memberikan pada mahasiswa dan pendidik mobile access ke perkuliahan,silabus,konten,e-book,nilai,jadwal,pemberitahuan darurat,dan banyak lagi.


include presentation-footer
include main-footer
