- var pageTitle = 'Pengertian Android'

include presentation-header

include menu

article#presentation

	section
		img(src="images/android.jpg")
		h1 Pengertian Android

	section
		h2 Apa itu Android?
		hr
		ul
			li Android adalah sistem operasi berbasis Linux yang dirancang untuk perangkat seluler layar sentuh seperti smartphone dan komputer tablet.
			li Android awalnya dikembangkan oleh Android, Inc., dengan dukungan finansial dari Google, yang kemudian membelinya pada tahun 2005.
			li Android berbasis open-source dan lisensi perizinan pada Android memungkinkan perangkat lunak untuk dimodifikasi secara bebas dan
				didistribusikan oleh para pembuat perangkat, operator nirkabel, dan pengembang aplikasi.
			li Sistem operasi ini dirilis secara resmi pada tahun 2007, bersamaan dengan didirikannya Open Handset Alliance, konsorsium dari
				perusahaan-perusahaan perangkat keras, perangkat lunak, dan telekomunikasi yang bertujuan untuk memajukan standar terbuka perangkat seluler.
			li Ponsel Android pertama mulai dijual pada bulan Oktober 2008.
			
	section
		h2 Antar Muka
		hr
		ul
			li Antarmuka pengguna Android didasarkan pada manipulasi langsung, menggunakan masukan sentuh yang serupa dengan tindakan di dunia nyata,
				seperti menggesek, mengetuk, mencubit, dan membalikkan cubitan untuk memanipulasi obyek di layar.
			img(src="images/layar.jpeg")

	section
		h2 Android dari sisi Bisnis..?
		hr
		ul
			li Android juga menjadi pilihan bagi perusahaan teknologi yang menginginkan sistem operasi berbiaya rendah, bisa dikustomisasi,
				dan ringan untuk perangkat berteknologi tinggi tanpa harus mengembangkannya dari awal.
			li Meskipun pada awalnya sistem operasi ini dirancang khusus untuk smartphone dan tablet,
				Android juga dikembangkan menjadi aplikasi tambahan di televisi, konsol permainan, kamera digital, dan perangkat elektronik lainnya.
			li Sifat Android yang terbuka telah mendorong munculnya sejumlah besar komunitas pengembang aplikasi untuk menggunakan
				kode open-source sebagai dasar proyek pembuatan aplikasi, dengan menambahkan fitur-fitur baru bagi pengguna tingkat lanjut
				atau mengoperasikan Android pada perangkat yang secara resmi dirilis dengan menggunakan sistem operasi lain.
			li Saat ini android merupakan sistem operasi smartphone yang paling banyak digunakan di dunia, mengalahkan Symbian pada tahun 2010.
	section
		h2 Sekilas Perjalanan Android
		hr
		ul
			li Pada bulan Oktober 2012, ada sekitar 700.000 aplikasi yang tersedia untuk Android, dan sekitar 25 juta aplikasi telah
				diunduh dari Google Play, toko aplikasi utama Android.
			li Sebuah survey pada bulan April-Mei 2013 menemukan bahwa Android adalah platform paling populer bagi para pengembang,
				dan digunakan oleh 71% pengembang aplikasi seluler.
			li Hingga bulan Mei 2013, total 900 juta perangkat Android telah diaktifkan di seluruh dunia,
				dan 48 miliar aplikasi telah dipasang dari Google Play.
			li Pada Juli 2013, terdapat 11.868 perangkat Android berbeda dengan beragam versi.
				Keberhasilan sistem operasi ini juga menjadikannya sebagai target ligitasi paten "perang smartphone" antar perusahaan-perusahaan teknologi.
			li Pada tanggal 3 September 2013, kurang lebih 1 miliar perangkat Android telah diaktifkan.
			li Pada November 2013, Android menguasai pangsa pasar smartphone global, yang dipimpin oleh produk-produk Samsung,
				dengan persentase 64% pada bulan Maret 2013.
	
include presentation-footer
include main-footer
