- var pageTitle = 'Penggunaan Android'

include presentation-header

include menu

article#presentation

	section
		h1 Penggunaan Android Paling WOW
		img(src="images/androidd.png")

	section
		h2.bullet Penggunaan Tablet Android Terbanyak 
		hr
		ul
			li  American Aielines, maskapai penerbangan Amerika, menggunakan 6000 Samsung Galaxy Tab 10 sebagai layanan hibuaran untuk penumpang pesawat mereka. Layanan itu diberikan bagi penumpang first class dan business. Sebelumnya perusahaan ini juga memberikan ribuan iPad untuk para pilot mereka.

	section
		h2.bullet Penggunaan Android Paling Menarik 
		hr
		ul
			li  University of Southern Mississippi bekerja sama dengan Samsung untuk pemakaian 1000 Galaxy Tab 10 sebagai proyek pencontohan. Tablet tersebut akan digunakan oleh mahasiswa yang mengambil program Honor College. Dengan Gtab 10.1,pihak universitas memberikan pada mahasiswa dan pendidik mobile access ke perkuliahan,silabus,konten,e-book,nilai,jadwal,pemberitahuan darurat,dan banyak lagi.

	section
		h2.bullet Penggunaan Android Paling Luas 
		hr
		ul
			li  Samsung Galaxy Tab bisa disebut sebagai tablet dengan jumlah unit paling banyak digunakan paling banyak digunakan oleh perusahaan rekan kerja Samsung. Namun dalam konsumen, Cisco Cius adalah perusahaan yang memanfaatkan android dengan jumlah konsumen terbesar. Saat rilis tablet Android Juli lalu,Cisco memasukkan 5 perusahaan dari berbagai bidang industri miliknya.
			li  Nottingham University Hospital adalah salha satu contohnya. Rumah sakit itu memakai Cisco tablet dan ponsel portable IP untuk memberikan akses bagi para dokter pada perawatan pasien sehingga mempercepat kesembuhan pasien dan memperpendek waktu rawat inap. Progarm tersebut mampu menghemat 292.000 poundsterling dalam laporan tahunan keuangan mereka.

	section
		h2.bullet Penggunaan Android Paling Ambisius 
		hr
		ul
			li  Pemilik surat kabar Philadelphia inquirer dan Daily News merencanakan menjual 2000 tablet Android untuk para konsumen 2 surat kabar itu dengan potongan harga khusus. Konsumen yang tertarik pada tablet Android itu nantinya bisa berlangganan Philadelphia Inquirer dan Daily News versi digital. Proyek ini merupakan yang pertama di Amerika karena selama ini tidak ada perusahaan yang menawarkan produk bundling dengan konten di dalamnya,demikian penjelasan CEO Greg Osberg.
			li  Osberg mengatakan bahwa Philadelphia Inquier dan Daily News akan menjadi media paling inovatif di Amerika.Meski belum mempublikasikan berapa biaya langganan yang dibebankan pada konsumen namun rumor menyebut biaya itu tidak akan lebih dari $75/tahun.

include presentation-footer
include main-footer
