- var pageTitle = 'Perbandingan Android'

include presentation-header

include menu

article#presentation

	section		
		h2 Perbandingan Android dengan iPhone, Blackberry, Symbian, dan Windows Mobile.
		h3 Berbagai merk Handphone touchscreen (Smartphone) beredar dipasaran. 
		h3 Jumlah pembuatnya bertambah dari waktu ke waktu. 
		h3 Merek-merek terkenal Android, iPhone, Blackberry, Windows Mobile sangat digemari orang.
		h3 Penulis akan lebih sedikit menjelaskan keistimewaan masing-masing merk bila dibandingkan dengan Android, yaitu sebagai berikut:
		
	
include presentation-footer
include main-footer
