- var pageTitle = 'Perbandingan Android'

include presentation-header

include menu

article#presentation

	section		
		h2 Perbandingan Android dengan iPhone, Blackberry, Symbian, dan Windows Mobile.
		h3 Berbagai merk Handphone touchscreen (Smartphone) beredar dipasaran. 
		h3 Jumlah pembuatnya bertambah dari waktu ke waktu. 
		h3 Merek-merek terkenal Android, iPhone, Blackberry, Windows Mobile sangat digemari orang.
		h3 Penulis akan lebih sedikit menjelaskan keistimewaan masing-masing merk bila dibandingkan dengan Android, yaitu sebagai berikut:
	
	section
		h2.bullet Android phone
		hr
		ul
			li Android adalah sebuah nama Operating System (OS) yang menjalankan handphone.
			li OS ini diciptakan oleh Google sedangkan handphonenya dibuat oleh perusahan-perusahaan seperti Samsung, Motorola, Sonny Ericsson, LG, HTC.
			li Aplikasi Android mirip-mirip iPhone, Tetapi dalam hal jumlah dan variasi iPhone mempunyai koleksi program yang jauh lebih banyak ketimbang Android. 
			li Fungsi internet browsing pada Android lebih fleksibel, lebih bervariasi dan lebih cepat dibanding iPhone.

	section
		img(src="images/AndroidPhone.png")
		h1 Gambar Android Phone

	section
		h2.bullet iPhone
		hr
		ul
			li iPhone adalah telepon genggam revolusioner yang diproduksi oleh Apple Inc yang memiliki fungsi kamera, pemutar multimdia, SMS,dan voicemil.
			li Selain itu telepon ini juga dapat dihubungkan dengan internet, untuk melakukan berbagai aktifitas misalnya mengirim / menerima email, menjelajah web, dan lain-lain.
			li Antar muka dengan pengguna menggunakan layar sentuh multi-touch (atau biasa disebut dengan layar sentuh kapasitif) dengan papan ketik virtual dan tombol.
			li Beberapa keunggulan dari iPhone diantaranya adanya dukungan penuh mengenai software  dan aplikasi terbaik dari Apple Inc.
	
	section
		img(src="images/Iphone.jpg")
		h1 Gambar iPhone
	
	section
		h2.bullet Blackberry
		hr
		ul
			li Blackberry adalah perangkat seluler yang memiliki kemampuan layanan push e-mail, telepon, SMS, Menjelajah internet, dan berbagai kemampuan nirkabel lainnya, Blackberry pertama kali diperkenalkan pada tahun 1997 oleh perusahaan Kanada, Research In Motion (RIM). 
			li Blackberry mempunyai beberapa keunggulan diantaranya adalah layana push e-mail (dimana e-mail akan terhubung terus di ponsel kita layaknya sebuah sms), chatting dengan fitur Blackberry Mesengger (BBM), dan Browsing.
			li Untuk fitur browsing dan email pada BB akan dikompresi dahulu sehingga di terimma dengan ukuran yanga lebih kecil dan lebih cepat dibuka.
		
	section
		h2.bullet Symbian
		hr
		ul
			li Symbian OS adalah sistem operasi dikembangkan oleh Symbian Ltd. yang dirancang untuk digunakan peralatan bergerak (mobile). 
			li Symbian OS memiliki antarmuka pemprograman aplikasi API (Aplication Programming Interface). 
			li Dengan adanya standar API ini membantu pihak pengembang untuk melakukan penyesuaian atas aplikasi yang bermacam-macam. 
			li Symbian OS sendiri bukanlah software yang sifatnya open source penuh karena meskipun terdapat ketersediaan API dan dokumentasiny, yang banyak membantu pihak pengembang aplikasi untuk dapat dipublikasikan untuk umum namun tidak untuk kode source sendiri

include presentation-footer
include main-footer

