- var pageTitle = 'Perbandingan Android'

include presentation-header

include menu

article#presentation

	section		
		h2 Perbandingan Android dengan iPhone, Blackberry, Symbian, dan Windows Mobile.
		h3 Berbagai merk Handphone touchscreen (Smartphone) beredar dipasaran. 
		h3 Jumlah pembuatnya bertambah dari waktu ke waktu. 
		h3 Merek-merek terkenal Android, iPhone, Blackberry, Windows Mobile sangat digemari orang.
		h3 Penulis akan lebih sedikit menjelaskan keistimewaan masing-masing merk bila dibandingkan dengan Android, yaitu sebagai berikut:
	
	section
		h2.bullet Android phone
		hr
		ul
			li Android adalah sebuah nama Operating System (OS) yang menjalankan handphone.
			li OS ini diciptakan oleh Google sedangkan handphonenya dibuat oleh perusahan-perusahaan seperti Samsung, Motorola, Sonny Ericsson, LG, HTC.
			li Aplikasi Android mirip-mirip iPhone, Tetapi dalam hal jumlah dan variasi iPhone mempunyai koleksi program yang jauh lebih banyak ketimbang Android. 
			li Fungsi internet browsing pada Android lebih fleksibel, lebih bervariasi dan lebih cepat dibanding iPhone.

	section
		img(src="images/AndroidPhone.png")
		h1 Gambar Android Phone

	section
		h2.bullet iPhone
		hr
		ul
			li iPhone adalah telepon genggam revolusioner yang diproduksi oleh Apple Inc yang memiliki fungsi kamera, pemutar multimdia, SMS,dan voicemil.
			li Selain itu telepon ini juga dapat dihubungkan dengan internet, untuk melakukan berbagai aktifitas misalnya mengirim / menerima email, menjelajah web, dan lain-lain.
			li Antar muka dengan pengguna menggunakan layar sentuh multi-touch (atau biasa disebut dengan layar sentuh kapasitif) dengan papan ketik virtual dan tombol.
			li Beberapa keunggulan dari iPhone diantaranya adanya dukungan penuh mengenai software  dan aplikasi terbaik dari Apple Inc.
	
	section
		img(src="images/Iphone.jpg")
		h1 Gambar iPhone

include presentation-footer
include main-footer
