- var pageTitle = 'Perkembangan Android'

include presentation-header

include menu

article#presentation

	section
		h1 Perkembangan Android
		img(src="images/all.jpg")

	section
		h2.bullet Android versi 1.1
		hr
		ul
			li  Pada tanggal 9 Maret 2009, Google merilis Android versi 1.1. Android versi ini dilengkapi dengan  pembaharuan estestis pada aplikasi, jam alarm, voice search (pencarian suara), pengiriman pesan dengan Gmail, dan pemberitahuan e-mail.

	section
		h2.bullet Android versi 1.5 (Cupcake)
		hr
		img(src="images/Cupcake.jpg")

	section
		ul
			li  Pada petengahan Mei 2009, Google kembali merilis telepon seluler dengan menggunakan Android dan SDK  (Sofrware Development Kit) dengan versi 1.5 (Cupcake). Terdapat beberapa pembaruan termasuk juga penambahan beberapa fitur dalam seluler versi ini yakni kemampuan merekam dan menonton video dengan modus kamera, mengunggah video ke Yutube dan gambar ke Picasa langsung dari telepon, dukungan Bluetooth A2DP , kemampuan terhubung secara otomatis ke headset Bluetooth, animasi layar, dan keyboard pada layar yang dapat disesuakan sistem.

	section
		h2.bullet Android versi 1.6 (Donut)
		hr
		img(src="images/donut.png")

	section
		ul
			li  Donut (versi 1.6) dirilis pada september dengan menampilkan proses pencarian yang lebih baik di banding sebelumnya, penggunaan baterai indikakor dan kontrol applet VPN . Fitur lainnya adalah galeri yang memungkinkan pengguna untuk memilih foto yang akan dihapus, kamera, camcorder dan galeri yang diintegrasikan, CDMA / EVDO, 802.1x, VPN, Gesture, dan Text-to-speech engine, kemampuan dial kontak, teknologi text to change ( tersedia pada semua ponsel, pengadaan  resolusi VWGA.

	section
		h2.bullet Android versi 2.0/2.1 (Eclair)
		hr
		img(src="images/eclair.png")

	section
		ul
			li  Pada tanggal 3 Desember 2009 kembali di luncurkan ponsel Android dengan versi 2.0/2.1 (Eclair), perubahan yang dilakukan adalah pengoptimalan hardware, peningkatan Google Maps 3.1.2, perubahan UI dengan browser baru dan dukungan HTML5, daftar kontak yang baru, dukungan flash untuk kamera 3,2 MP, digital Zoom, dan Bluetooth 2.1. Untuk bergerak cepat dalam persaingan perangkaat generasi berikut, Google melakukan investasi dengan mengadakan kompetisi aplikasi mobile terbaik (killer apps-aplikasi unggulan). Kompetisi ini berhadiah $25,000 bagi setiap pengembang apliksi terpilih. Kompetisi diadakan selama dua tahap yang tiap tahapnya dipilih 50 aplikasi terbaik. Dengan semakin berkembangnya dan semakin bertambahnya jumlah handset Android, semakin banyak pihak ketiga yang berminat untuk menyalurkan aplikasi mereka kepada sistem operasi Android. Aplikasi terkenal yang diubah ke dalam sistem operasi Android adalah Shazam, Backgrounds, dan WeatherBug.
			li  Sistem operasi Android dalam situs Internet juga di angap penting untuk menciptakan aplikasi Android asli, contohnya oleh MySpace dan Facebook.

	section
		h2.bullet Android versi 2.2 (Froyo: Frosen Yoghurt)
		hr
		img(src="images/Froyo.jpg")

	section
		ul
			li  Pada tanggal 20 Mei 2010, Android versi 2.2 (Froyo) diluncurkan. Perubahan-perubahan umumnya terhadap versi-versi sebelumnya antara lain dukungan Adobe Flash 10.1, kecepatan kinerja dan aplikasi 2 sampai 5 kalilebih cepat, intergrasi V8 JavaScript engine yang dipakai Google Chrome yang mencermatkan kemampuan rendering pada browser, pemasangan aplikasi dalam SD Card, kemampuan WiFi Hotspot portabel, dan kemampuan auto update dalamaplikasi Android Market.

	section
		h2.bullet Android versi 2.3 (Gingerbread)
		hr
		img(src="images/Gingerbread.jpg")

	section
		ul
			li  Pada tanggal 6 Desember 2010, Android versi 2.3 (Gingerbread) diluncurkan. Perubahan-perubahan umum yang didapat dari Android versi ini antara lain peningkatan kemampuan permainan (gaming), peningkatan fungsi copy paste, layarantar muka (User Interface) didesain ulang, dukungan format video VP8 dan WebM, efek audio baru (reverb, equalization, headphone virtualization, dan bass boost), dukungan kemampuan Near Field Communication (NFC), dan dukungan jumlah kamera yang lebih dari satu.

	section
		h2.bullet Android versi 3.0/3.1 (Honeycomb)
		hr
		img(src="images/Honeycomb.jpg")

	section
		ul
			li  Android Honeycombdirancang khusus untuk tablet. Android versi ini mendukung ukuran layar yang lebih besar. User Interface pada Honeycomb juga berbeda karena sudah didesain untuktablet. Honeycomb juga mendukung multi prosesor dan juga akselerasi perangkat keras (hardware) untuk grafis. Tablet pertama yang dibuat dengan menjalankan Honeycomb adalah Motorola Xoom. Perangkat tablet dengan platform Android 3.0 akan segera hadir di Indonesia. Perangkat tersebut bernama Eee Pad Transdformer produksi dari Asus. Rencana masuk pasar Indonesia pada Mei 2001.

	section
		h2.bullet Android versi 4.0 (ICS: Ice Cream Sandwich)
		hr
		img(src="images/ics.jpg")

	section
		ul
			li  Diumumkan pada tanggal 19 Oktober 2011, membawa fitur Honeycomb untuk smartphone dan menambahkan fitur baru termasuk membuka kunci dengan pengenalan wajah, jaringan data pemantauan penggunaan dan kontrol, terpadu kontak jaringan sosial, perangkat tambahan fotograsi, mencari e-mail secara offline, dan berbagi informasi dengan menggunakan NFC.
	
	section
		h2.bullet Android Jelly Bean (4.1)
		hr
		img(src="images/jb-4.1.png")

	section
		ul
			li  Jelly Bean-Android versi 4.1 yang diluncurkan pada acara Google I/O membawa fitur fitur baru yang menawan, beberapa fitur yang diperbaharui dalam sistem operasi ini antara lain, pencarian dengan menggunakan Voice Search yang lebih cepat, informasi cuaca, lalu lintas, hasil pertandingan olahraga yang cepat dan tepat, selain itu versi 4.1 ini juga mempunyai fitur keyboard virtual yang lebih baik. Permasalahan umum yang sering ditemui pengguna Android adalah baterai, namun Baterai dalam sistem Android Jelly Bean versi 4.1 ini diklaim cukup hemat.

	section
		h2.bullet Android Jelly Bean (4.2)
		hr
		img(src="images/jb.jpg")

	section
		ul
			li  Android versi 4.2 ini merupakan versi terbaru dari versi versi Android sebelumnya. Jelly Bean V.4.2 diklaim lebih pintar dan inovatif dibandingkan dengan pendahulunya. Beberapa fitur yang diperbaharui dalam sistem operasi ini antara lain Notifications, Google Assistant, Face unlock dengan Liveness Check, Barrel Roll, Smart Widget, Google Now, Tehnologi Project Butter untuk meningkatkan responsifitas yang sangat baik, Sistem operasi yang cepat dan Ringan, Full Chrome browser menjejalah internet menggunakan Google Chrome seperti pada PC.

	section
		h2.bullet Android Jelly Bean (4.3)
		hr
		img(src="images/jb-4.3.jpg")

	section
		ul
			li  Beberapa bulan kemarin google mengeluarkan versi terbaru android jelly bean 4.3, terdapat beragam pembaruan fitur pada versi ini diantaranya adalah teknologi smart bluetooth yang membuat bluetooth aktif tanpa menguras baterai, Mendukung Open GL ES 3.0, performa grafis yang lebih bagus dan realistis. kecepatan kinerja yang luar biasa cepat serta grafis memukau atau lebih halus.

	section
		h2.bullet Android Kitkat (4.4)
		hr
		img(src="images/kitkat.png")

	section
		ul
			li  Google telah mengeluarkan versi terbarunya yaitu android kitkat, namun belum banyak user yang sudah merasakannya, masih jarang ponsel/tablet yang mendukung versi android ini dikarenakan peluncurannya masih baru. fitur fitur barunya antara lain Fitur SMS yang terintegrasi langsung kedalam Aplikasi Google Hangouts. Terdapat fasilitas Could Printing, dimana pengguna dapat Printing secara nirkabel / mengirim perintah ke Laptop / PC yang terhubung dengan printer.Desain ikon dan tema yang lebih unik dan realistik.
			li  Mendengarkan perintah suara dari Google Now tanpa menguras daya baterai. Navigasi dan statusbar yang mengalami pembaruan. Interface yang sangat halus. Bisa mengakses aplikasi kamera dari layar yang terkunci.

include presentation-footer
include main-footer
