- var pageTitle = 'Perkembangan Android'

include presentation-header

include menu

article#presentation

	section
		h1 Perkembangan Android 

	section
		h2.bullet Android versi 1.1
		hr
		ul
			li  Pada tanggal 9 Maret 2009, Google merilis Android versi 1.1. Android versi ini dilengkapi dengan  pembaharuan estestis pada aplikasi, jam alarm, voice search (pencarian suara), pengiriman pesan dengan Gmail, dan pemberitahuan e-mail.

	section
		h2.bullet Android versi 1.5 (Cupcake)
		hr
		ul
			li  Pada petengahan Mei 2009, Google kembali merilis telepon seluler dengan menggunakan Android dan SDK  (Sofrware Development Kit) dengan versi 1.5 (Cupcake). Terdapat beberapa pembaruan termasuk juga penambahan beberapa fitur dalam seluler versi ini yakni kemampuan merekam dan menonton video dengan modus kamera, mengunggah video ke Yutube dan gambar ke Picasa langsung dari telepon, dukungan Bluetooth A2DP , kemampuan terhubung secara otomatis ke headset Bluetooth, animasi layar, dan keyboard pada layar yang dapat disesuakan sistem.

	section
		h2.bullet Android versi 1.6 (Donut)
		hr
		ul
			li  Donut (versi 1.6) dirilis pada september dengan menampilkan proses pencarian yang lebih baik di banding sebelumnya, penggunaan baterai indikakor dan kontrol applet VPN . Fitur lainnya adalah galeri yang memungkinkan pengguna untuk memilih foto yang akan dihapus, kamera, camcorder dan galeri yang diintegrasikan, CDMA / EVDO, 802.1x, VPN, Gesture, dan Text-to-speech engine, kemampuan dial kontak, teknologi text to change ( tersedia pada semua ponsel, pengadaan  resolusi VWGA.

	section
		h2.bullet Android versi 2.0/2.1 (Éclair)
		hr
		ul
			li  Pada tanggal 3 Desember 2009 kembali di luncurkan ponsel Android dengan versi 2.0/2.1 (Éclair), perubahan yang dilakukan adalah pengoptimalan hardware, peningkatan Google Maps 3.1.2, perubahan UI dengan browser baru dan dukungan HTML5, daftar kontak yang baru, dukungan flash untuk kamera 3,2 MP, digital Zoom, dan Bluetooth 2.1. Untuk bergerak cepat dalam persaingan perangkaat generasi berikut, Google melakukan investasi dengan mengadakan kompetisi aplikasi mobile terbaik (killer apps-aplikasi unggulan). Kompetisi ini berhadiah $25,000 bagi setiap pengembang apliksi terpilih. Kompetisi diadakan selama dua tahap yang tiap tahapnya dipilih 50 aplikasi terbaik. Dengan semakin berkembangnya dan semakin bertambahnya jumlah handset Android, semakin banyak pihak ketiga yang berminat untuk menyalurkan aplikasi mereka kepada sistem operasi Android. Aplikasi terkenal yang diubah ke dalam sistem operasi Android adalah Shazam, Backgrounds, dan WeatherBug.
			li  Sistem operasi Android dalam situs Internet juga di angap penting untuk menciptakan aplikasi Android asli, contohnya oleh MySpace dan Facebook.


include presentation-footer
include main-footer
