- var pageTitle = 'Sejarah Android'

include presentation-header

include menu

article#presentation

	section
		h2 Sejarah Android
		h3 Android pada mulanya adalah perusahaan kecil yang berbasis di Palo Alto, California. Perusahaan yang bernama Android, Inc ini kemudian dibeli oleh pihak Google pada tahun 2005. Beberapa orang yang masuk disana pernah bekerja di Google, seperti Andy Rubin, Pendiri Danger (perusahaan perangkat lunak), kemudian ada Rich Miner wakil pendiri Wilfire Communications, Cris White insinyur di Webtv, dan Nick Sears mantan VP di T-Mobile. Saat itu banyak yang menganggap fungsi Android Inc hanyalah sebagai perangkat lunak pada telepon seluler. Sejak saat itu muncul rumor bahwa Google hendak memasuki pasar telepon seluler. Di perusahaan Google, tim yang dipimpin Rubin bertugas mengembangkan program perangkat seluler yang didukung oleh kernel Linuk. Hal ini menunjukkan indikasi bahwa Google sedang bersiap menghadapi persaingan dalam pasar telepon seluler.
	section
		h3 Awal Perkembangan Android Sekitar September 2007 sebuah studio melaporkan bahwa Google mengjulan hak paten aplikasi telepon seluler ( akhirnya Google mengenalkan Nexus One, salah satu jenis telepon pintar muncul yang menggunakan Android pada sistem operasinya. Telepon seluler ini diproduksi oleh HTC Corporation dan sudah tersedia di pasaran pada tanggal 5 Januari 2010).
	section
		h3 Pada 9 Desember 2008, diumumkan anggota baru yang bergabung dalam program Computer Android ARM Holdings, Atheros Comunications, diproduksi oleh Asustek Computer Inc, Garmin Ltd, Softbank, Sony Ericsson, Toshiba Corp, dan Vodafone Group Plc. Seiring pembentukan Open Hanset Alliance, OHA mengumumkan produk perdana mereka, Android, perangkat mobile yang merupakan modifikasi kernel Linuk 2.6. Sejak Android dirilis telaah dilakukan berbagai pembaharuan berupa perbaikan bug (celah atau kelemahan) dan penambahan fitur-fitur baru.
	section
		h3 Telepon seluler atau HP pertama yang memakai sistem operasi Android adalah HTC Dream, yang dirilis pada tanggal 22 Oktober 2008. pada penghujung tahun 2009 diperkirakan di dunia ini paling sedikit terdaapat 18 jenis telepon seluler yang menggunaka Android. 

include presentation-footer
include main-footer

